<h1>Add a Figure</h1>
<form method="post" action="/figures">
  <p>Name: <input type="text" name="figure[name]" id="figure_name"></p>

  <h2>Titles</h2>
  <% @titles.each do |title| %>
    <p><%= title.name %><input type="checkbox" name="figure[title_ids][<%=title.id%>]" id="title_name"></p>
  <% end %>
  <h2>Create New Title:</h2>
    <input name="title[name]" type="text" id="new_title"><br>

  <h2>Landmarks</h2>
  <% @landmarks.each do |landmark| %>
    <p><%= landmark.name %><input type="checkbox" name="figure[landmark_ids][<%=landmark.id%>]" id="landmark_name"></p>
  <% end %>

  <h2>Create New Landmark:</h2>
    <p>Name<input name="landmark[name]" type="text" id="new_landmark"></p>
    <p>Year<input name="landmark[year_completed]" type="text" id="landmark_year_completed"></p> <button>Create New Figure</button>
</form>
